@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

header {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#logotrilhou {
  width: 5rem;
}
.navbar {
  border-radius: 10px;
  height: 30px;
  width: 90%;
  margin-left: 5%;
  background-color: rgba(255, 255, 255, 0.662);
}
